*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: url('ashok2.png'),url('bg1.jpeg');
    background-size:50% 100%, cover;
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    background-attachment: fixed;
}
nav{
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.logo img{
    width: 75px;
    height: 9vh;
    margin: 0 45px;
    border-radius: 93px;
    cursor: pointer;
}
.menu{
    margin-right: 40px;
}
.menu a{
    color: whitesmoke;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 10px;
    margin-right: 20px;
    border-radius: 23px;
}
.menu a:hover{
    color: #e74c3c;
    transition: 0.7s;
}
.text{
    color: whitesmoke;
    font-weight:bold;
    margin-top: 150px;
    margin-left: 120px;
    max-width: 550px;
}
.text h1{
    font-size: 60px;
    margin: 10px 0px;
}
.text p{
    font-size: 30px;
}
.icons i{
    padding: 2px 12px;
    font-size: 35px;
    cursor: pointer;
}
.c-btn{
    width: 165px;
    height: 5vh;
    border-radius: 12px;
    border: none;
    outline: none;
    color: whitesmoke;
    background: #e74c3c;
    padding: 10px;
    font-size: 21px;
    font-weight: bold;
    margin-top: 23px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.c-btn:hover{
    background: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
}

/* this is the about section */
#about{
    padding: 100px 50px ;
}
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-size: 60px;
    /* color:black; */
}
.section-info p{
    font-size: 23px;
    color: #d63e2d;
}
.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 90px;
    border-radius: 34px;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 80%;
    padding: 56px;
}
.about-right-col{
    flex-basis: 50%;
}
#p-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 54px;
}
.about-right-col p{
    font-size: 23px;
    text-align: justify;
}

/* This is skills section */
#skills{
    padding: 100px 50px;
    background: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    background-attachment: fixed;
}
.skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
    background-color: rgb(45,52,54);
    padding: 35px 50px;
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.582), 0 6px 20px 0 rgba(255, 255, 255, 0.24);
    margin-top: 90px;
    border-radius: 34px;
}
.skills-left-col{
    flex-basis: 50%;
    text-align: justify;
    
}
.skills-left-col p{
    font-size: 22px;
    text-align: justify;
}
.skills-right-col{
    flex-basis: 50%;
}
progress{
    width: 80%;
    height: 3vh;
}
 
.progress-div{
    width: 70%;
    margin: auto;
    /* color: burlywood; */
    
}
.progress-div p{
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 80px;
    text-align: justify;

}
.progress-div p span{
    font-weight: bold;
    font-size: 20px;
}

/* Servicces Style Start Here */
#services{
    margin: 50px 0px;
    padding: 50px 50px;
    background-color:aliceblue;
}
#icon-service{
    font-size: 34px ;
    margin-top: 12px;
    color: #e74c3c;
    font-weight: bold;
}
#icon-service:hover{
   color: #fff;
}
.services-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.services-box{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px gray;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}
.services-box:hover{
    background: #e74c3c;
    color: whitesmoke;
    transition: 0.5s;
}
.services-box img{
    flex-basis: 60%;
    margin-bottom: 5px;
}
.services-box h1{
    font-size: 35px;
    padding: 19px 0px;
}
.services-box p{
    font-size: 20px;
}

/* Conatct style Here */
#contact{
    padding: 100px 50px;
    background: linear-gradient(160deg, #e74c3c 45%, white 0%);
    
}
.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.contact-left-col{
    flex-basis: 50%;
    /* background-color: red; */
    text-align: center;
}
.contact-right-col{
    flex-basis: 50%;
    
}
.contact-right-col form{
    margin-left: 90px;
    margin-top: 44px;
}
.contact-right-col form label{
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
}
.contact-right-col form h2{
    margin-bottom: 20px;
    font-size: 35px;
    margin-left: 127px;
}
.contact-right-col form input{
    width: 90%;
    padding: 7px 5px;
    margin-bottom: 20px;
    /* font-size: 20px; */
}
.contact-right-col form textarea{
    width: 90%;
    padding: 10px;
    /* margin-bottom: 10px; */
    /* font-size: 23px; */
}

/* this is footer section  */
#footer{
    width: 100%;
    height: 9vh;
    background: #e74c3c;
    color: white;
}
#footer h3{
   text-align: center;
   font-size: 20px;
}
#footer p{
   text-align: center;
   font-size: 20px;
}
#footer h3{
    padding-top: 20px;
}


/* Responsive code  */

@media only screen and (max-width: 770px) {
    header{
        background: url('./bg1.jpeg');
        background-size: cover;
    }
    .menu a{display: none;}
    .logo img{
        width: 62px;
        height: 9vh;
        margin: 0 20px;

    }
    .text{
        color: whitesmoke;  
        margin-top: 50px;
        margin-left: 20px;
        /* max-width: 550px; */
    }
    .text h1{
        font-size: 30px;
        margin: 10px 0px;
    }
    .c-btn{
        font-size: 15px;
    }
    .about-left-col{
        flex-basis: 100%;
    }
    .about-left-col img{
        width: 100%;
    }
    .about-right-col{
        flex-basis: 100%;

    }
    #p-title{
        font-size: 20px;
        padding: 0px 10px;
    }
    .about-right-col p{
        font-size: 20px;
        padding: 0px 20px;
    }
    .skills-row{
        padding: 35px 20px;
    }
    .skills-left-col{
        flex-basis: 100%;
        
    }
    .skills-right-col{
        flex-basis: 100%;
        margin-top: 34px;
    }
    .progress-div{
        width: 100%;
        
    }
    .progress-div p{
        padding-left: 10px;
    }
    .services-box{
        flex-basis: 80%;
        margin: 40px;
    }
    .services-box img{
        flex-basis: 60%;
    }
    .contact-left-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        flex-basis: 100%;
        
    }
    .contact-right-col form{
        margin-left: 10px;
        margin-top: 44px;
    }
    .contact-right-col form h2{
        margin-left: 10px;
        margin-bottom: 34px;
    }
    .contact-right-col form input{
        width: 100%;
    }
    .contact-right-col form textarea{
        width: 100%;
    }
}
